#dashboard {
    width: stretch;
    padding: 15px;
}

.tool {
    width: 25%;
    padding: 10px;
    border: var(--primary-color);
}

@media screen and (max-width: 950px) {
    #dashboard {
        padding-bottom: 85px;
    }
}